@use "sass:map" as map;
@use "tokens" as *;
@use "mixins" as *;

.container {
  box-sizing: border-box;
  width: 100%;
  height: inherit;
  padding: $spacing-md;

  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  background-color: map-get($map: $neutral, $key: 0);

  @include border-radius;

  &__header {
    width: 100%;
    height: auto;
  }

  &__title {
    @include body-regular($font-weight-bold);
  }
}
