@use "sass:map" as map;
@use "tokens" as *;
@use "mixins" as *;

.dashboard {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  &__container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: $spacing-md;

    background-color: map.get($map: $neutral, $key: 0);

    @include border-radius;
  }

  &__header {
    display: flex;
    align-items: center;

    & > h4 {
      @include body-small($font-weight-bold);
    }
  }

  &__table {
    max-height: 30rem;
    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  &__view {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: $spacing-md;

    @media (width < 1024px) {
      grid-template-columns: 1fr;
    }
  }

  &__data {
    min-height: 28rem;
  }
}
