@use "tokens" as *;

.dashboard {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: $spacing-lg;

  &__data {
    width: 100%;

    display: flex;
    align-items: center;
    gap: $spacing-lg;
  }

  &__container {
    width: 100%;
  }
}
