@use "sass:map" as map;
@use "tokens" as *;
@use "mixins" as *;

.dashboard {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;

  &__container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: $spacing-md;

    background-color: map.get($map: $neutral, $key: 0);

    @include border-radius;
  }

  &__data {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: $spacing-md;

    @media (width < 1024px) {
      grid-template-columns: 1fr;
    }
  }

  &__table {
    height: 30rem;
    overflow: auto;
  }
}
