<div #wrapper style="width: 100%; height: 100%">
  <ngx-charts-bar-horizontal-2d
    *ngIf="view"
    [view]="view"
    [results]="data()"
    [scheme]="options.colorScheme || ''"
    [gradient]="options.gradient || false"
    [xAxis]="options.xAxis?.show"
    [showXAxisLabel]="options.xAxis?.show || true"
    [xAxisLabel]="options.xAxis?.label || ''"
    [yAxis]="options.yAxis?.show || true"
    [yAxisLabel]="options.yAxis?.label || ''"
    [legend]="options.legend?.show || true"
    [legendTitle]="options.legend?.title || ''"
    [animations]="true"
    [barPadding]="24"
    [noBarWhenZero]="true"
  >
    <ng-template #tooltipTemplate let-model="model">
      <div class="dashboard-chart__tooltip">
        <p>Placa: {{ model.extra.vehicle }}</p>
        <p>Tempo: {{ model.extra.totalTime }}</p>
      </div>
    </ng-template>
  </ngx-charts-bar-horizontal-2d>
</div>
